@import 'mor.css';
:root{
     --orange:#fb7100;
    --black:#161616;
    --white:#FFFFFF;
    --grey:#898989;
    --light:#F2F2F2;
    --secondary:#070606;
}
body{
    font-family:'Poppins',sans-serif;
}
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
}


header{
    background: var(--black);
    clip-path:polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
}

#main-nav{
    margin-bottom: 0.5rem;
}
.container hr{
    line-height: 0cqmax;
    margin-bottom: 3rem;
}
.container{
    max-width:1152px;
    padding:0 15px;
    margin:0 auto;
}
.container  #main-nav  p{
    margin-right: 2rem;
    color:var(--orange);
    text-decoration: overline;
    font-size: x-large;
    margin-bottom: 1rem;
}
header .container .right button{
    border: 2px solid var(--orange);
    border-radius: 2px;
    color:var(--orange);
    display: flex;
    background-color: black;
}
header .container .right button:hover{
    border: 2px solid var(--white);
    border-radius: 2px;
    background-color:var(--orange);
    color:var(--black);
}
.main .left {
    margin-top: 4rem;
}

header nav .left a{
    color:var(--white);
    text-decoration: none;
    margin-right:2rem;
    text-transform:uppercase;
    transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
}
header nav .left a:hover{
    color:var(--orange);
}
header nav {
    padding:2rem 0;
}

.main{
    padding:3rem 0;
}
.main .left img{
    width:400px;
}
.main .left{
    color:var(--white);
}
.main .left h6{
    font-size:1.6rem;
    color:var(--orange);
    margin-top: 4rem;
    margin-bottom:0.5rem;
}
.main .photo #img1{
   border-radius: 20px;
   height: 400px;
   width: 400px;

}
.main .left h1{
    font-size:2rem;
    font-weight:100;
    color:rgb(233, 224, 224);
    line-height:1.2;
    margin-bottom:2rem;
}
.main .left h1 span{
    color:var(--grey);
}.main .left .profil{
    width: 50%;
    height: auto;
}

.main .left p{
    line-height:1.9;
    margin-bottom:2rem;
}
.main .left {
    margin-top:-7rem;
}
.main .left button{
    background-color: var(--black);
    border: 2px solid var(--orange);
    border-radius: 2px;
    color:var(--orange);
    margin-bottom: 10rem;
}
.main .left button a{
    text-decoration: none;
    color:white;
}
.main .left button a:hover{
    color:#070606;
}

.main .left button:hover{
background-color:var(--orange);
border: 2px solid var(--white);
color: white;
border-radius: 2px;
}

section{
    padding:6rem 0;
}
section.about .about-me-img{
    height:200px;
    width:auto;

}
section.about h1{
    margin-bottom: 1rem;
    font-size:1.6rem;
    font-weight:400;
}
section.about h1 span{
    color:var(--orange);
}
section.about p{
    font-family:'Lato', sans-serif;
    color:var(--grey);
    line-height: 1.8;
    margin-bottom:2rem;
}
section.about .social{
    display:flex;
}
section.about .social a{
    background:var(--black);
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--white);
    font-size: x-large;
    width:40px;
    height:40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right:0.6rem;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
section.about .social a:hover{
    background:var(--orange);
}

.section-heading{
   color:var(--secondary); 
   text-align: center;
   margin-bottom:4rem;
   line-height: 0.5;
}
.section-heading span{
    color:var(--orange);
    font-size: xx-large;
}
.section-heading + p{
   color:var(--grey);
   font-family:'Lato', sans-serif;
   margin-bottom:8rem;
    text-align: center;
}
section.course{
    background:var(--white);
    clip-path:polygon(0 0, 100% 0, 100% 100%, 70% 90%, 0 100%);

}
section.course .card-wrapper{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:2rem;
    grid-row-gap:6rem;
}
section.course .card-wrapper .card{
    background:#898989;
    padding: 3rem 2rem;
    position:relative;
    padding-top:5rem;
    text-align: center;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
section.course .card-wrapper .card img{
    position: absolute;
    top:-3.5rem;
    left:50%;
    height: 100px;
    width: 100px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
section.course .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom:0.5rem;
}
section.course .card-wrapper .card p{
    font-family: 'Lato', sans-serif;
    color:black;
    line-height:1.6;
}

section.course .card-wrapper .card:hover{
    background: var(--grey);  
}
section.course .card-wrapper .card:hover h2, section.course .card-wrapper .card:hover p{
    color:var(--white);
}

section .oth{
    text-align: center;
    color:var(--white);
    clip-path:polygon(0 0, 100% 0, 100% 100%, 67% 80%, 0 100%);
    padding-bottom:14rem;
}
section.oth h3{
    font-size:1.5rem;
    margin-bottom:2rem;
}
section.oth .lis {
    display:flex;
    flex-direction: column ;
align-items: center;
}
section.oth .lis li{
margin-bottom: 1rem;
display: flex;
}
section.oth p{
    font-size:1.5rem;
    margin-bottom: 2rem;
    font-family:'Lato', sans-serif;
}

section .skills{
    background:var(--light);
}

section.skills .card-wrapper{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap:2rem;
}
section.skills .card-wrapper .card{
    position:relative;
    height:250px;

}
section.skills .card-wrapper .card .overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(61, 207, 211,0.9);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    color:var(--light);
    opacity:0;
    transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
}
section.skills .card-wrapper .card:hover .overlay{
    opacity:1;
}

section.skills .card-wrapper .card .overlay a{
    color:var(--secondary);
    text-decoration: none;
}
section.blog{
    background:var(--black);
    clip-path:polygon(0 0, 100% 0, 100% 100%, 67% 90%, 0 100%);
    padding-bottom:12rem;
}
section.blog .section-heading{
    color:var(--white);
}
.blog .card .img-wrapper img{
   
    overflow: hidden;

}
section.blog .card-wrapper{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:3rem;
}
section.blog .card-wrapper .card{
    background:var(--white);
    border-radius: 10px;
}
section.blog .card-wrapper .card .img-wrapper img{

    height: 200px;
    width:100%;
    object-fit: cover;
}
section.blog .card-wrapper .card .card-content{
    padding:1rem;
    padding-left:2rem;
    padding-right:2rem;
}
section.blog .card-wrapper .card .card-content h1{
    font-size:1rem;
    font-weight:600;
}
section.blog .card-wrapper .card .card-content a{
    color:var(--secondary);
    text-decoration: none;
}
section.blog .card-wrapper .card .card-content a:hover{
    color:var(--orange);
}
section.blog .card-wrapper .card .card-content span{
   color:var(--grey);
   font-size:0.8rem; 
}
section.blog .card-wrapper .card .card-content p{
    font-family:'Lato', sans-serif;
    color:var(--grey);
    margin-top:1rem;
    margin-bottom:1rem;
}
section.blog .card-wrapper .card .card-content a.read-more{
    font-size:0.8rem;
}

section.contact .card-wrapper{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:3rem;
}
section.contact .card-wrapper .card{
    text-align: center;
}
section.contact .card-wrapper .card img{
    margin-bottom: 3rem;
}
section.contact .card-wrapper .card h1{
    font-weight:400;
    margin-bottom:1rem;
}
section.contact .card-wrapper .card h6{
    font-size:1rem;
    color:var(--grey);
    font-weight:400;
    margin-bottom:4rem;
}

section.contact .input-wrap{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:2rem;
    margin-bottom:2rem;
}
section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
}
section.contact .input-wrap-2 input{
    margin-bottom:2rem;
}
section.contact input{
    padding:0.5rem;
    border:1px solid var(--light);
    font-size: 0.9rem;
}
section.contact .input-wrap-2 textarea{
    padding:0.5rem;
    border:1px solid var(--light);
    font-size: 0.9rem;
}
section.contact .input-wrap-2 textarea:focus, section.contact input:focus{
    outline:none;  
}
section.contact .btn-wrapper{
    text-align: center;
    margin-top:2rem;
}

footer{
    background-image: url("https://giadungviet.vn/wp-content/uploads/footer-background.jpg");
    text-align: center;
    background-color: var(--black);
    background-repeat: no-repeat;
    background-size: cover;
    padding:5rem 0;
    align-items: center;
    justify-content: space-between;
}
footer .footer-socials ul{
    margin-right:1rem;
    justify-content: center;
    align-items: center;
}
footer .footer-socials ul li{
    display: flex;
    color:var(--white);
  
}
footer .footer-socials ul li a{
    color: var(--white);
    text-decoration: none;
}
footer .footer-socials ul li a:hover{
    color: var(--orange);
    text-decoration: underline;
}
footer .footer-socials ul li i{
margin-right: 2rem;
margin-bottom: 1rem;
}
footer .footer-socials{
    margin-bottom:3rem;
    margin-left:5rem;
display: flex;
align-items: center;
justify-content: center;

}

.site-main-wrapper{
    position:relative;
}

.mobile-nav{
   position: fixed;
   top:0;
   left:0;
   z-index:1001;
   background:var(--light);
   width:100%;
   height:100%;
   padding:2rem;
   padding-top:5rem;
   transform: translateX(-100%);
   -webkit-transform: translateX(-100%);
   -moz-transform: translateX(-100%);
   -ms-transform: translateX(-100%);
   -o-transform: translateX(-100%);
   transition:all .5s ease-in-out;
   -webkit-transition:all .5s ease-in-out;
   -moz-transition:all .5s ease-in-out;
   -ms-transition:all .5s ease-in-out;
   -o-transition:all .5s ease-in-out;
}
.open{
    transform:translateX(0);
    -webkit-transform:translateX(0);
    -moz-transform:translateX(0);
    -ms-transform:translateX(0);
    -o-transform:translateX(0);
}
.times{
   position:fixed;
   top:30px;
   right:30px;
   border: none;
   background:none;
   outline:none;
   cursor: pointer; 
}
.times img{
    width:30px;
}

.mobile-nav ul{
    list-style-type: none;
}
.mobile-nav ul li a{
    color:var(--secondary);
    text-decoration:none;
    font-size: 2rem;
}

@media (max-width:1024px){
    header #main-nav{
        display:none;
    }
    .hamberger{
        display: block;
    }
    .main .left img{
        width:260px;
    }
    .main .right h1{
        font-size: 3rem;
    }
    .main{
        padding-top:10rem;
    }
    header{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 27% 89%, 0 100%);
    }
    section.about .about-me-img{
        height: 360px;
    }
    section.course .card-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
    section.skills .card-wrapper{
        grid-template-columns: repeat(2,1fr);
    }
    section.blog .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    section.blog{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 97%, 0 100%);
    }
}

@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1152px;
    }
  }



@media (max-width:576px){
    .main{
        flex-direction: column;
    }
    header{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 69% 95%, 0 100%);
    }
    .main .right{
        position: absolute;
        top:260px;
        padding:0 1rem;
        background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9));
    }
    .main .left{
        margin-top:-5rem;
        margin-right: -9rem;
        padding-bottom:4rem;
    }
    .about-inner-wrap{
        flex-direction: column;
    }
    .about .right{
        text-align: center;
        margin-top:2rem;
    }
    .about .right .social{
        justify-content: center;
    }
    section{
        padding: 4rem 0;
    }
    section.course .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
        margin-top:6rem;
    }
    section.oth h1{
        line-height:1.2;
    }
    section.oth{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 90%, 0 100%);
        padding-bottom: 8rem;
    }
    section.reviews .slider .slide{
        padding:0;
    }
    .section-heading + p{
        margin-bottom: 3rem;
    }
    section.skills .card-wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    section.contact .card-wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    section.contact .input-wrap{
        grid-template-columns: repeat(1, 1fr);
    }
}